/* You can add global styles to this file, and also import other style files */
body {
    height: 100vh;
    margin: 0;
    font-size: 1.7vh;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

html {
    /*font-size: 0.9rem;*/
}

/* Globals */

/* Labels */

label {
    border: 0.22vh solid;
    text-align: center;
    white-space: nowrap;
    padding: 0.3%;
    /*line-height: 160%;
    height: auto !important;*/
}

.head {
    background: linear-gradient(#5B5B5B, #7A7A7A, #5B5B5B);
    border-color: black;
    color: white;
    display: block;
}

.light-grey {
    background: linear-gradient(#9D9D9D, #E9E9E9, #9D9D9D);
    border-color: #646464;
    color: black;
}

.dark-grey {
    background: linear-gradient(#5B5B5B, #7A7A7A, #5B5B5B);
    border-color: black;
    color: white;
}

.blue {
    background: #1D68DB;
    border-color:#2D476C;
    color: white;
}

.flex-05{
    flex: 0.5;
}

.label-10{
    flex: 1;
}

.label-20{
    flex: 2;
}

.label-30{
    flex: 3;
}

.label-35{
    flex: 3.5;
}

.label-filler {
    visibility: none;
    border-color: transparent;
}

.control {
    margin: 0.5% 0% 0.5% 0%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around
}

